<h1>PICTURES</h1>
<%= link_to "Back to Pictures", pictures_url %> | <%= link_to "Edit", edit_picture_path(@picture) %> | <%= link_to "Add a Picture", new_picture_path %>

<p><%= @picture.title %>, by: <%= @picture.artist %></p>
<img src="<%= @picture.url %>">